@font-face {
    font-family: 'roboto';
    src: url(Fonts/Roboto.ttf);
}

html {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

fieldset {
    height: 100%;
    width: 100%;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-container {
    border: 2px solid red;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* .left-container p {
    border: 2px solid white;
    color: antiquewhite;
    position: relative;
} */

/* .left-container h1 {
    border: 2px solid white;
    color: antiquewhite;
    position: relative;
    bottom: 483px;
} */

.robot {
    height: 100%;
}

.right-container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

header {
    border: 2px solid yellow;
    width: 100%;
    height: 100%;
    height: 33.3%;
    background-color: antiquewhite;
    color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

form {
    border: 2px solid aqua;
    width: 100%;
    height: 100%;
    height: 33.3%;
    background-color: antiquewhite;
    color: black;
    flex: 2;
}

footer {
    border: 2px solid peru;
    width: 100%;
    height: 100%;
    height: 33.3;
    background-color: antiquewhite;
    color: black;
    flex: 1;
}